@page
@model SchoolClient.Pages.ClassesModel
@using SchoolClient.Models
@{
}
<h1>Classes</h1>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Perfect</td>
        <td></td>


    </tr>
    @foreach (Class cl in Model.classes)
    {
    <tr>
        <td>@cl.Id</td>
        <td>@cl.Name</td>
       
        @if (@cl.Perfects.Count == 0)
    {
        <td>не назначен</td>}
else
{
    <td>@cl.Perfects.FirstOrDefault().Student.Fullname</td>
}

        <td>
            <a asp-page="./ClassInfo"
               asp-page-handler="Get" asp-route-id="@cl.Id">Show Info</a>
        </td>
    </tr>
    }
</table>